// Specific CSS for your home-page

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color:black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h3 {
  font-size: 32px;
  color: black;
  font-weight: thin;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .card-img-top {
    height: 315px;
  }
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  .card-img-top {
    height: 250px;
    object-fit:cover;
    justify-content: center;
    border-radius: 8px;
  }
}
