.carousel {
  height: 500px;
}

.carousel-inner {
  height: 500px;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;

}

#nav-contact {
  width: 100%;
  height: 500px;
}

#nav-tools {
  width: 50%;
  height: 500px;
}
