.carousel {
  height: 500px;
}

.carousel-inner {
  height: 500px;
}

.carousel-image {
 width: 100%;
 height: 500px;
 object-fit: cover;

}

.carousel-tools {
 height: 500px;
}

.carousel-tips {
 height: 500px;
}
