.diwise-card {
  border: 1px solid rgba(107, 107, 107, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background: white;
  height:400px;
  font-size: 15px;
}

.packet-avatar {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
}

.container-rating {
  background: black;
  color: white;
  width: 60px;
  height:60px;
  border:1px solid rgba(107, 107, 107, 0.1);
  border-radius: 100%;
  position: absolute;
  right: 25px;
  bottom: 25px;
    .icon {
    	position:absolute;
    	right: 80px;
      bottom: 10px;
    }
}

.project_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Responsiveness

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
