<%= @packets.each do |packet| %>
  <div class ="card diwise-card">
    <% if packet.youtube_url.present? %>
      <div class = "container">
        <iframe height='315px' src="http://www.youtube.com/embed/<%= packet.youtube_url %>", frameborder="0"></iframe>
      </div>
    <% elsif packet.photos.any? %>
      <%= cl_image_tag packet.photos.first.key %>
    <% end %>
  </div>
<% end %>


