  <div class= "container">
  	<div class="wrapper">
  	  <div class= "jumbotron" style="background-image: url(https://res.cloudinary.com/dynjb5ftd/image/upload/v1590656895/DI_WISE/oxa-roxa-oHoOrmEms38-unsplash_hp9u1x.jpg); background-size: 100%">
  	  <div class="container text-center" >
  	  	<h1>Anyone. Any Project.</h1>
  	  	<h3>Join the online community doing it all themselves.</h3>
  	  </div>
  	  </div>
  	</div>

  	<%= link_to "Create a new packet", new_packet_path, class: "btn btn-warning" %>
  	<%= link_to "Show all packets", packets_path, class: "btn btn-warning"  %>

    <div>
      <%= render 'shared/packet_card', packets: @packets %>
    </div>
  </div>

<!-- link_to "User", user_path(current_user), class: "btn btn-warning"  -->

