<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Create a new packet", new_packet_path, class: "btn btn-warning" %>
<%= link_to "Show all packets", packets_path, class: "btn btn-warning"  %>


<%= link_to "User", user_path(current_user), class: "btn btn-warning" %>

