<div class= "container">
  <h1>All available packets</h1>
</div>


<div class="container p-3">
  <div class="row">
    <% @packets.each do |packet| %>
      <%= render "shared/packet_card" %>
    <% end %>
  </div>
  <%= link_to "Back", root_path, class: "btn btn-warning" %>
</div>

