<div class= "container my-5">
  <h1 class= "border-bottom border-dark mb-5" width=50%= >All DIY Lessons</h1>
  <div class="container margin-1">
    <%= render "shared/packet_card" %>
  </div>
</div>




