.banner-container h2 {
  text-align: center;
  margin: 16px 0 16px 0;
}

.banner-cards {
  flex: 1;
  padding: 0, 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.banner-card {
  width: 330px;
  height: 360px;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  border: 2px solid white;
  background-color: white;
  margin-top: 26px;
}

.banner-card img {
  height: 150px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.banner-card p {
  opacity: 0.5;
}
