#btn-twitter {
  background-color: #42d6cc;
}
#btn-insta {
  background-color: #e557c4;
}
#btn-fb {
  background-color: #57a0e5;
}
#btn-github {
  background-color: #eaea3a;
}
.diwise-btn {
	border-radius: 50px;
}
.search-btn {
  border-radius: 50px;
  background: rgba(76, 175, 80, 0)
}

.scroll i {
  color: white;
  transform: scale(2.5,2);
  opacity: 0.9;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.fa-search {
  position: absolute;
  top: 10px;
  bottom: 8px;
  right: 18px;
  color: #3aafa9;
  font-size: 24px;
}

.fa-search:hover {
   transform: scale(1.5);
   transition-timing-function: ease-in;
}

.fa {
  // padding-top: 5px;
  padding-bottom: 5px;
}
.fa-wrench {
  font-size: 24px;
}

.how-to-cards {
  flex: 1;
  padding: 0, 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.how-to-card {
  width: 178px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  height: 200px;
}

.how-to-icon {
  height: 90px;
}

.how-to-card p {
  opacity: 0.5;
}
