#btn-twitter {
  background-color: #42d6cc;
}
#btn-insta {
  background-color: #e557c4;
}
#btn-fb {
  background-color: #57a0e5;
}
#btn-github {
  background-color: #eaea3a;
}
.diwise-btn {
	border-radius: 50px;
}
