.footer {
  background-color: #202c31;
  background-size: cover;
  height: 15vh;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social .fab {
  font-size: 30px;
  color: white;
  padding: 5px;
}

.fas {
  color: #FBD84D;
}

#sort-down {
  color: #202c31;
}
