.navbar-diwise {
  background: white;
  display: flex;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-diwise .navbar-collapse {
  flex-grow: 0;
}

.navbar-diwise .navbar-brand img {
  width: 40px;
}

fa {
	color: green;
}