.navbar-diwise {
  background: white;
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar-diwise .navbar-collapse {
  flex-grow: 0;
}

.navbar-diwise .navbar-brand img {
  width: 40px;
}

.navbar .filter-form {
	position: relative;
	right: 230px;
}