<div class="container">
  <div class="d-flex justify-content-space-between">
    <div>
        <h1><%= @category.name%> <i class="<%= @category.font_awesome_icon %>"></i></h1>
        <p><%= @category.description %></p>
      <div>
      	<% @packets.each do |packet|%>
      	  <%= render "shared/packet_card" %>
      	<% end %>
      </div>
    </div>
  </div>
</div>
